<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://ihaveineed.cloud.vap-hosting.com</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>publish.cloud.vap-hosting.com</MSDeployServiceURL>
    <DeployIisAppPath>ihaveineed</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ihaveineed</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="CSCI4830Entities" Order="1" Enabled="False">
          <Destination Path="Data Source=sql.cloud.vap-hosting.com;Initial Catalog=CSCI4830;User ID=project;Password=Conagra1;Asynchronous Processing=True;Application Name=EntityFramework" Name="Data Source=sql.cloud.vap-hosting.com;Initial Catalog=CSCI4830;User ID=project;Password=Conagra1;Asynchronous Processing=True;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Main.CSCI4830Entities, Main" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=sql.cloud.vap-hosting.com;Initial Catalog=CSCI4830;User ID=project;Password=Conagra1;Asynchronous Processing=True;Application Name=EntityFramework" Name="Data Source=sql.cloud.vap-hosting.com;Initial Catalog=CSCI4830;User ID=project;Password=Conagra1;Asynchronous Processing=True;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Main.Models.ApplicationDbContext, Main" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CSCI4830Entities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Main.csdl|res://*/Main.ssdl|res://*/Main.msl;provider=System.Data.SqlClient;provider connection string="Data Source=sql.cloud.vap-hosting.com;Initial Catalog=CSCI4830;User ID=project;Password=Conagra1;Asynchronous Processing=True;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=sql.cloud.vap-hosting.com;Initial Catalog=CSCI4830;User ID=project;Password=Conagra1;Asynchronous Processing=True;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>