@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title Us</h2>
<h3>@ViewBag.Message</h3>

</br>
<p>The Have/Need concept is the creation of David Beavers, Sam Kirkland, Derek Pacula, Albert Padanilam, and Cooper Pendleton.</p>
<p>Our vision for Have/Need is a community of people that give what they have and have what they need.</p>
