@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>The I Have/I Need concept site by David Beavers, Derek Pacula, Sam Kirkland, Cooper Pendleton, and Albert Padanilam</p>
