
<br /><br /><br />


<div id="homePage">
        <h2>Welcome!</h2>
    <br />
    <br />
        <p>
            Welcome to I Have I Need. A community driven site where you are in control. Offer up something you have to help out others in the community. Looking for something that you need? We have that option  too. Explore the possiblites of what others have to offer.
            Click the register button above to get started
         </p>
        <p>
        @Html.ActionLink("Start Now", "../Account/Register", "Account", new { @class="btn btn-default" })

        </p>
</div>