@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Have, Need</h1>
    <p class="lead">Have something you don't need? Need something you don't have?</p>
    <p><a href="http://hurr-durr.com/" class="btn btn-primary btn-lg">Learn More!</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Start Now!</h2>
        <p>
            Start posting and accepting!
        </p>
        <p>
        @Html.ActionLink("Start Now", "Register", "Account", new { @class="btn btn-default" })
        @*<a class="btn btn-default" href="http://hurr-durr.com/">Learn more &raquo;</a>*@
        </p>
    </div>
    <div class="col-md-4">
        <h2>Need Something?</h2>
        <p>See what people have posted!</p>
        <p><a class="btn btn-default" href="http://www.youtube.com/watch?v=KCiIZa6rVrw">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Scrub Hosting</h2>
        <p>Git rekt scrub</p>
        <p><a class="btn btn-default" href="http://hurr-durr.com/">Learn more &raquo;</a></p>
    </div>
</div>