@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Index</h1>
    <p class="lead">HNNNGG</p>
    <p><a href="http://hurr-durr.com/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Trollface
        </p>
        <p><a class="btn btn-default" href="http://hurr-durr.com/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more swag</h2>
        <p>Swaggy.</p>
        <p><a class="btn btn-default" href="http://hurr-durr.com/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Scrub Hosting</h2>
        <p>Git rekt scrub</p>
        <p><a class="btn btn-default" href="http://hurr-durr.com/">Learn more &raquo;</a></p>
    </div>
</div>