body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: #f6f6f6;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/* overwrites the bootstrap cursor for input elements that are disabled */
    .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
        cursor: default;
    }


/* ----------- Post page, Editing ----------- */
#mapWrapper {
    position: relative;
    width: 100%;
    height: 250px;
    border: 2px solid gray;

    margin: 0 0 15px 0;
}
#mapWrapper #map {
    width: 100%;
    height: 100%;
}
#mapWrapper #locationSearch.form-control {
    display: block;
    width: 50%;
    max-width: 9999px;
    position: absolute;

    top: 7px;
    left: 30px;
    z-index: 100;
}

/* ---------- Qwill Styles (WYSIWYG editor) ----------- */
.basic-wrapper,
.advanced-wrapper {
  border: 1px solid #ccc;
  float: left;
  margin-left: 3%;
  margin-top: 15px;
  margin-bottom: 15px;
}
.basic-wrapper {
  width: 40%;
}
.advanced-wrapper {
  width: 50%;
}
.editor-container {
  height: 400px;
}
.toolbar-container {
  border-bottom: 1px solid #ccc;
}
.basic-wrapper .toolbar-container .ql-active,
.basic-wrapper .toolbar-container button:hover {
  color: #008000;
  font-weight: bold;
}

.pull-center {
    text-align:center;
}



/* Table styles */

table.table th {
    background: #f17c5d;
    color: #fff;
}

table.table tr:nth-child(2n+1) {
    background: rgb(200,200,200);
}



.navbar {
    background-color: #fff !important;
    border-color: #fff;

    border-bottom: 10px solid rgb(110, 110, 110);

    margin-top: 0px;
}

.navbar-nav > li > a {
    color: #000;
}
.navbar-nav > li > a:hover {
    background: transparent;
    color: #000;
    font-weight: bold;
}
#logo {
    background: url('../img/logo.png') no-repeat;
    background-size: contain;
    width: 150px;
    height: 150px;
    text-indent: -8000px;

    position: absolute;
    top: 5px;
    z-index: 99999;
}


#pageTitle {
    text-align: center;
}


body > .container {
    padding: 35px 0 15px 0 !important;
}




.btn-primary {
    border-color: rgb(110, 110, 110) !important;
    background-color: rgb(190, 190, 190) !important;
}

    .btn-primary:hover {
        border-color: rgb(90, 90, 90) !important;
        background-color: rgb(160, 160, 160) !important;
    }


input {
    max-width: 100%;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f17c5d;
}
.text-muted {
    color: #fff;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}


/* Quill.js */
.descriptionView {
    background: #fff;
    border: 1px solid #ccc;
    padding: 12px 15px;
}

/* Image upload drag and drop code */
/*------------------------------------------------------------------*/
    #imageUploadWrapper {
        background: #EFEFEF;
        border: 1px solid black;
        display: block;
        float: right;
        width: 100%;
        height: 250px;
        overflow-x: auto;
        overflow-y: hidden;
    }

    #imageUploadInner {
        display: block;
        width: 750px;
        height: 250px;
    }

        #imageUploadInner .img {
            display: inline-block;
            border: 1px solid black;
            background: #fff;
            float: left;
            width: 150px;
            height: 150px;
            margin: 25px;
            position: relative;
        }

            #imageUploadInner .img img {
                display: block;
                width: 100%;
                height: 100%;
            }

            #imageUploadInner .img .delete {
                background: #EFEFEF;
                width: 40px;
                height: 40px;
                cursor: pointer;
                position: absolute;
                top: 50%;
                left: 50%;
                z-index: 10;
                margin-top: -20px;
                margin-left: -20px;
                font-size: 20px;
                line-height: 40px;
                border-radius: 20px;
                text-align: center;
            }

    .advanced-wrapper {
        width: 100%;
        margin: 0;
        background: #fff;
    }

    .editor-container {
        height: 125px;
    }

    #drop_zone {
        width: 250px;
        height: 150px;
        border: 2px dashed #e0e0e0;
    }

    #dropZone {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 99997;
        background: #fff;
        opacity: 0.8;
    }

        #dropZone div {
            display: block;
            position: fixed;
            top: 5%;
            right: 5%;
            bottom: 5%;
            left: 5%;
            z-index: 99998;
            border: 2px dashed #808080;
            text-align: center;
            font-size: 42px;
        }

            #dropZone div div {
                display: block;
                position: fixed;
                top: 50%;
                left: 50%;
                z-index: 99999;
                height: 50px;
                width: 600px;
                margin: -25px 0 0 -300px;
                border: none;
                line-height: 50px;
                text-align: center;
                font-size: 42px;
            }